@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply my-4 text-4xl font-bold;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  label {
    @apply block mx-2 my-4;
  }

  input:not([type]),
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="password"] {
    @apply block w-full rounded-md p-1 border border-accent text-inherit bg-inherit focus:outline-none;
  }

  button {
    // @apply border-2 rounded-lg border-accent px-5 py-1 text-lg hover:bg-primary;
    @apply float-right border-2 rounded-lg border-accent px-5 py-1 text-lg hover:bg-primary;
  }

  a {
    @apply underline text-accent;
  }
}

.input-area {
  background-color: rgb(39, 39, 42) !important;
  border: 1px solid rgb(39, 39, 42) !important;
}
.expenses{
  background-color: #4B5563 !important;
  border: none !important;
  padding: 0.625rem !important;
}

.input-area:focus {
  border: 1px solid #f234cb !important;
}
